button{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: bold;
    background-color: rgb(243, 243, 153);
    cursor: pointer;
}
#Buttons{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     row-gap: 10px;
     padding: 25px;

}
#calculator{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(243, 153, 115);
    border-radius: 40px;
    max-width: 500px;
    overflow: hidden;

}
#display{
    width: 85%;
    padding: 20px;
    margin: 20px 10px 10px 10px;
    border-radius: 30%;
    font-size: 5rem;
    border: none;
    text-align: end;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button:hover {
    background-color: brown;
}
button:active{
    background-color: chocolate;
}
.operator {
    background-color: crimson;
}

.operator:hover {

    background-color: rgb(120, 246, 136);

}
.operator:active{
    background-color: rgb(133, 105, 235);
}
h3{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-bottom: 0;
}